<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  </head>
  <body>

  <h1> This is the user account page </h1>

  <p> This is the page where the user will "land" after they login or register </p>

  <p> Welcome back (enter name here) </p>
  <p> WeBuyYourGames.com offers our users the ability to sell their old games 
    for a competitive price.  Ditch those old games and systems and get paid today </P>


    <p> Here are the steps : </p>
    <p> 1 : Click the button below </p>
    <p> 2 : Enter all the items you have for sale </p>
    <p> 3 : After you submit the items for sale we will send you a quote for your items </p>

    <button> Click here to get started </button>


       <h1>Here are the items you want to sell</h1>
 

  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  </body>
</html>