<!DOCTYPE html>
<html>
  <head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- select2 boxes-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  </head>
  <body>

<h1> Submit your old Games and Consoles for instant cash </h1>

<p> Below you can all the items you want to sell to us.  Pictures are always great. </p>
<p> Once you finish your upload we will email you with a instant quote </p>
<p> If you accept the quote you can get an instant payment using paypal </P>

<form action="/account" method="POST">
      <p>Console Type</p> <input type="text" name="type">
      <p>Platform</p> <input type="text" name="platform">
      <p>Title</p> <input type="text" name="title">
      <p>Condition</p> <input type="text" name="condition" placeholder="Broken, Acceptable, Good, Like New, New">
      <p>Description</p> <input type="textarea" name="description">
      <p>Quanity</p> <input type="number" name="quantity">

      <input type="submit" value="Submit">
      <p>Upload Image : </p><label for="apply"><input type="file" name="" id="apply" accept="image/*,.pdf">Upload Image</label>
    </form>
</div>


   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
   <!-- <script type="text/javascript" src="form.js"></script> -->
   
  </body>
</html>