<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  </head>
  <body>

<h1> This is the page where you post your items for sale </h1>

<form class="" action="/account" method="post">
      <h3>Type</h3> <input type="text" name="Type">
      <h3>Platform</h3> <input type="text" name="Platform">
      <h3>Title</h3> <input type="text" name="Title">
      <h3>Condition</h3> <input type="text" name="Condition" placeholder="Broken, Acceptable, Good, Like New, New">
      <h3>Description</h3> <input type="text" name="Description">
      <h3>Quanity</h3> <input type="number" name="caffine">
      <input type="submit" name="" value="Submit">
    </form>


   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  </body>
</html>