<!DOCTYPE html>
<html>
  <head>
  <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    <!-- select2 boxes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Register</title>
  <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css"> -->
  
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/homepage/style.css">
  <!-- <style>
.auth-base {
    height: 100%;
    width: 100%;
}

.auth-login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 514px;
     transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(122, 120, 120, 0.5);
}

.auth-box-header {
    height: 72px;
    width: 464px;
    border-bottom: solid 0.5px grey;
    margin: auto;
}

.auth-box-header-text {
    position: relative;
    top: 28px;
    height: 24px;
    width: 62px;
    opacity: 0.9;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: black;
    margin: auto;
}

.auth-box-action {
    height: 378px;
    width: 464px;
    margin: auto;
}

.auth-form {
    height: 301px;
    width: 464px;
    margin: auto;
}

.auth-login-username-section {
    position: relative;
}

.auth-login-username-section-base {
    top: 40px;
}

.auth-username-label,
.auth-password-label {
    position: relative;
    left: 11px;
}

.auth-login-password-section {
    position: absolute;
}

.auth-login-password-section-base {
    top: 214px;
}

.auth-login-password-section-error {
    top: 278px;
}

.auth-help-section {
    position: relative;
    bottom: 35px;
    left: 415px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.auth-login-input {
    position: relative;
    top: 5px;
    height: 35px;
    width: 423px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid #8fb2c3;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #8fb2c3;
    padding: 11px;
    margin: auto;
}

.auth-label {
    padding: 10px;
    height: 17px;
    width: 69px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #47565e;
}

.auth-submit-btn-section {
    position: absolute;
}

.auth-submit-btn-section-base {
    top: 315px;
}

.auth-submit-btn {
    height: 45px;
    width: 447px;
    border-radius: 4px;
    background-color: rgb(17, 66, 17);
    cursor: pointer;
}

.login-btn{
    top: 120px;
    position: absolute;
}
.gotologin{
    position: absolute;
    top: 120px;
    left: 300px;
}
</style> -->
  </head>
  <header>
        <div class="container">
                <h1>We Buy Your Games</h1>

        <!-- Navigation Bar-->
        

                <nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
                    <a class='navbar-brand' href='#'> WeBuyYourGames.com<img src=''></a>
                    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#menu'>
                    <span class='navbar-toggler-icon'></span>
                    </button>
                          
                    <div class='collapse navbar-collapse' id='menu'>
                        <ul class='navbar-nav ml-auto'>
                                      
                            <li class='nav-item'>
                            <a class='nav-link active' href='/homepage/index.html'>Homepage</a>
                             </li>
                          
                             <li class='nav-item'>
                                    <a class='nav-link' href='/users/login'>Login</a>
                                    </li>    
                                  
                                    <li class='nav-item'>
                                    <a class='nav-link' href='/users/register'>Register</a>
                                    </li>
                              
                                    <li class='nav-item'>
                                            <a class='nav-link' href='/account'>Account</a>
                                            </li>
                                            <li class='nav-item'>
                                            <a class='nav-link' href='/account/new'>Product</a>
                                            </li>
        
                            </ul>
                            </div>
                            </nav>
                            </header>
  <body>
  <!-- <div class="auth-base">
    <div class="auth-login-box"
    >
      <div class="auth-box-header">
        <div class="auth-box-header-text" 
        >
          Register
        </div>
      </div>
      <div class="auth-box-action"
      > -->
<div class=container>
  <form action="/users/login" method="POST">
  <!-- <div class="auth-login-username-section">
  <div class="auth-label auth-username-label"> -->
        <!-- Username:  -->
        <!-- </div>  -->
        <!-- <input class="auth-login-input username" type="text" name="username"> -->
        Username<input type="text" name="username">
        Password<input type="password" name="password">
        Email<input type="text" name="email">
        Name<input type="text" name="name">
        <!-- </div>
        <!-- <div class="auth-login-username-section">
        <div class="auth-label auth-username-label"> --> -->
        <!-- Password:  -->
        <!-- </div>  -->
        <!-- <input class="auth-login-input username" type="password" name="password"> -->
        <!-- </div>
        <div class="auth-login-username-section">
        <div class="auth-label auth-username-label"> -->
        <!-- Email:  -->
        <!-- </div> -->
        <!-- <input  class="auth-login-input username" type="text" name="email"> -->
        <!-- </div> -->
        <!-- <div class="auth-login-username-section">
        <div class="auth-label auth-username-label"> -->
        <!-- Name:  -->
        <!-- </div>  -->
        <!-- <input class="auth-login-input username" type="text" name="name"> -->
        <!-- <div> -->
        <!-- <input  class="auth-submit-btn-text  -->
        <input class = "btn btn-primary btn-sm" type="submit" value="Register">
        <button type="submit" class='btn btn-primary btn-sm' method ="GET" formaction="/users/login">Login</button>
      
        </form>
<!-- <form class='gotologin' action="/users/" method="GET"> -->
        
<!-- </form> -->
 <!-- </div>
    </div>
  </div> -->
</div>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  <!-- <script type="text/javascript" src="form.js"></script> -->  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script> 
</body>
</html>